<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <title>404 Not Found</title>
</head>
<body>
    {% include "includes/navbar.html" %}
    <div class="content">
        <h1>404 Not Found</h1>
        <p>
            This page doesn't exist.
        </p>
    </div>
</body>
</html>
